{% load static %}
<header class="page-head">
   <!-- RD Navbar-->
   <div class="rd-navbar-wrap">
     <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-sm-stick-up-offset="50px" data-lg-stick-up-offset="90px">
       <div class="rd-navbar-inner">
         <!-- RD Navbar Panel-->
         <div class="rd-navbar-panel">
           <!-- RD Navbar Toggle-->
           <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
           <!-- RD Navbar Brand-->
           <div class="rd-navbar-brand"><a class="brand-name" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" width="162" height="61" alt="Pet Care"></a></div>
         </div>
         <div class="rd-navbar-nav-wrap">
           <!-- RD Navbar Nav-->
           <ul class="rd-navbar-nav">
             <li class="active"><a href="{% url 'home' %}">Home page</a></li>
             <li><a href="{% url 'gallery' %}">Gallery</a></li>
             <li><a href="{% url 'shop' %}">Shop</a>
             <li><a href="{% url 'adoption' %}">Adoption</a></li>
             
             <li><a href="#">More</a>
               <!-- RD Navbar Dropdown-->
               <ul class="rd-navbar-dropdown">
                 <li><a href="{% url 'blog' %}">Info</a></li>
                 <li><a href="#">offers</a></li>
                 <li><a href="{% url 'about' %}">About Us</a></li>
               </ul>
               <li><a href="{% url 'contact' %}">Contact Us</a>
               </li>
           </ul>
         </div>
       </div>
     </nav>
   </div>
 </header>